# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch3

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

*.vs
.suo

# Executables
*.exe
*.out
*.app

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
Intermediate
Binaries
Saved
*.apdisk
*.sln
*.suo
*.sdf
*.opensdf
*.sln
